:host {
    max-width: 300px;
    margin-top: 20px;
    display: block;
    border: 2px solid black;
}

.titulo {
    background-color: #eee;
    padding: 8px 16px;
}
.strong {
    font-size: large;
}
.opcao {
    padding: 8px 16px;
}
.corpo {
    padding: 8px 0;
}